.favorites-container {
    padding: 2em;
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

li h2 {
    color: #333;
}

li button {
    padding: 0.7em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #0056b3;
}
